.wallet-box {
  padding: 10px;
  border: 1px solid #aaa;
  display: flex;
  flex-direction: column;

  .description {
    flex: 1
  }
}

legend {
  font-weight: 600;
}

@media (max-width: 767px) {
  .wallet-address {
    font-size: 14px;
  }
}