
<div class="token-wrap">
  <div class="box box-primary">
    <div class="box-header">
      <h4 class="box-title title-darkslateblue bold">TOKEN</h4>    
    </div>
    <div class="box-body">
      <form class="form-inline toolbar">
        <div class="form-group">
          <label for="username" class="title-darkslateblue">Username:</label>
          <input 
            appInputTyping
            [delay]="1000" 
            type="text" 
            class="form-control" 
            (inputChange)="filterByUsername($event)"/>
        </div>
        <div class="form-group">
          <label for="limit" class="title-darkslateblue">Per page:</label>
          <select name="perpage" id="limit" [(ngModel)]="limit" (change)="changeLimit($event)">
            <option *ngFor="let l of limitOptions" [value]="l">{{l}}</option>
          </select>
        </div>
      </form>
      <ngx-datatable 
        class="material"
        [rows]="tokens"        
        [columnMode]="'force'"
        [headerHeight]="32"
        [footerHeight]="32"
        [rowHeight]="'auto'"
        [scrollbarH]="true"
        [sortType]="'single'"       
        [limit]="limit">

        <ngx-datatable-column prop="User.username" name="Username">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.User.username}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="usd" name="Price (USD)">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.usd | number: '1.0-2'}}</span>
          </ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column prop="type" name="Type">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <span class="label" [ngClass]="{'label-info': row.type == 'active', 'label-success': row.type == 'extend'}">{{row.type}}</span>              
          </ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column prop="created_at" name="Created At">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.created_at | date: 'MM/dd/yyyy HH:mm:ss'}}</span>              
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

      
    </div>
  </div>
</div>


