<div class="row justify-content-center" style="height: 100%; position: relative;">
  <div class="col-12 col-sm-10 col-md-6" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); margin: auto;">
    <div class="card">      
      <div class="logo">
          <img src="/assets/images/logo.svg" alt="logo">
        </div>
        <form (ngSubmit)="requestForgotPassword()">
          <p class="text-center">Please input your registered email to reset password</p>
          <div class="form-group">            
            <input type="email" class="form-control" placeholder="Your email" [(ngModel)]="email" name="email" required>            
          </div>
          <div class="form-group">
            <button [appLoading]="isProcessing" type="submit" class="btn btn-danger btn-block btn-fill">
              RESET PASSWORD
            </button>
          </div>
          <div class="form-group text-center">
            <a class="link" routerLink="/login">Back to login</a>
          </div>
        </form>
    </div>

  </div>
</div>