<ul class="navbar-nav mr-auto">
  <!-- <li class="nav-item">
    <div *ngIf="isOpeningIco === 1" (click)="showPopupICO()" class="box-stat border-black no-icon">
      <p class="title text-center" translate>COUNT DOWN</p>
      <p class="count-down">
        <span *ngIf="countDown.days > 0" class="hour">{{countDown.days | number: '2.'}} : </span>
        <span class="hour">{{countDown.hours | number: '2.'}} : </span>
        <span class="minute">{{countDown.minutes | number: '2.'}} : </span>
        <span class="second">{{countDown.seconds | number: '2.'}}</span>
      </p>
    </div>
    <div *ngIf="isOpeningIco === 0" class="box-stat border-black no-icon">
      <p class="title text-center" translate>COUNT DOWN</p>
      <p class="title">
        <span>Promotion is unavailable</span>
      </p>
    </div>
    <div *ngIf="isOpeningIco === undefined" class="box-stat border-black no-icon">
      <p class="title text-center" translate>COUNT DOWN CHECKING ...</p>
    </div>
    <div *ngIf="isOpeningIco === 2" class="box-stat border-black no-icon" [class.active]="isOpeningIco === 2">
      <p class="title text-center" translate>PROMOTION IS OPEN NOW!</p>

      <p class="count-down" translate>
        <a [routerLink]="'/user/ico'">BUY NOW</a>
      </p>
    </div>
  </li> -->
  <!-- <li class="nav-item">
    <div class="box-stat border-red">
      <div class="icon">
        <img src="/assets/images/i-bitcoin.png" alt="money">
      </div>
      <div class="content">
        <p class="value">{{balance.btc | number: '.8'}} BTC</p>
        <p class="title">BTC Wallet</p>
      </div>
    </div>
  </li> -->
  <!-- <li class="nav-item">
    <div class="box-stat border-red">
      <div class="icon">
        <img src="/assets/images/i-bitdeal.png" alt="sum money">
      </div>
      <div class="content">
        <ng-container *ngIf="exchange !== undefined">
          <p class="value">${{exchange.last_trade_rate_usd | number: '.6'}} <span class="small">USD</span> <span [class.green]="exchange.percent_change_24h_usd >= 0" [class.red]="exchange.percent_change_24h_usd < 0">({{exchange.percent_change_24h_usd}}%)</span></p>
          <p class="title medium mt-0">{{exchange.last_trade_rate | number: '.8'}} BTC <span [class.green]="exchange.percent_change_24h >= 0" [class.red]="exchange.percent_change_24h < 0">({{exchange.percent_change_24h}}%)</span></p>
        </ng-container>
        <ng-container *ngIf="exchange == undefined">
          <p class="value">Loading...</p>
        </ng-container>
      </div>
    </div>
  </li>   -->
</ul>