<div class="customer">
  <div class="box box-primary">
    <div class="box-body box-profile">
      <div [style.background-image]="'url(' + info.avatar + ')'" class="profile-user-img img-responsive img-circle">        
      </div>
      <h3 class="profile-username text-center">
        {{info.username}}
      </h3>
      <p class="text-muted text-center">
        {{info.fullname}}
      </p>
      <ul class="list-group list-group-unbordered">
        <li class="list-group-item">
          <b>Gender:</b>
          <span class="pull-right">{{info.gender}}</span>
        </li>
        <li class="list-group-item">
          <b>Email:</b>
          <span class="pull-right">{{info.email}}</span>
        </li>
        <li class="list-group-item">
          <b>Phone:</b>
          <span class="pull-right">{{info.phone}}</span>
        </li>
        <li class="list-group-item">
          <b>Address:</b>
          <span class="pull-right">{{info.address}}</span>
        </li>
        <ng-content></ng-content>

      </ul>
    </div>    
  </div>
</div>
