.bounty-program {
  margin-bottom: 30px;
  input[name="url"] {
    margin-bottom: 10px;
  }
  .describe {
    font-size: 14px;
  }
  .info-url {
    margin-bottom: 10px;
  }
  .add-url {
    display: block;
    font-size: 28px;
    width: 56px;
    height: 38px;
    padding-right: 27px;
    padding-left: 12px;
    line-height: 30px;
  }
}