.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040;
}

.dialog {
  z-index: 1041;
  position: fixed;
  right: 0;
  left: 0;
  top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
  max-width: 1000px;

  &.dialog-md {
    max-width: 800px;
  }

  &.dialog-sm {
    max-width: 600px;
  }
}

.dialog-content {
  position: relative;
}
.dialog__close-btn {
  border: 0;
  background: none;
  color: #2d2d2d;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 1.8em;
  line-height: 0.5em;
}

@media (max-width: 767px) {
  .dialog {
    max-width: 100%;
  }
}
