<div class="verify-wrapper">
  <div class="container">
    <div class="box">
      <div class="box-header verify-header">
        <div class="box-title title-darkslateblue">
          <div class="top">
            <img src="../../assets/images/logo.png" alt="Contractium logo">
            <span class="brand-name">Contracitum.io</span>
          </div>
          <h4>Email Verification</h4>
        </div>
      </div>
      <div class="box-body">
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <p>{{message}}</p>
              <a class="btn-darkslateblue back-btn" href="/" target="_blank">Click here to go to dashboard</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
