.verify-wrapper {
  .top {

  }
  .verify-header {
    img {
      width: 80px;
    }
    .brand-name {
      font-size: 30px;
      font-weight: bold;
    }
  }
  .back-btn {
    padding: 15px 30px;
    cursor: pointer;
    text-decoration: none;
    width: 300px;
    display: inline-block;
  }
  
}