$dark-color-1: #FFFFFF;
$dark-color-2: #FFFFFF;
$dark-color-3: #353B43;
$dark-color-4: #2A313B;

$main-color: #DB3834;
$main-dark-color: #cc2a1a;

$item-background-color: #E54D42;
$tag-color: $dark-color-3;

$header-height: 70px;
$header-icon-size: 50px;

$darkslateblue: #2424a0;
